# Ignore terraform state files and backups
terraform.tfstate
terraform.tfstate.*
.terraform/

# Ignore node_modules
Chat-App/node_modules/
Chat-App/package-lock.json

# Ignore other unnecessary files
tput.exe.stackdump
.terraform.lock.hcl
